.start-screen-button{
    -fx-border-width: 3;
    -fx-border-color: #443A19;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.start-screen-button:hover{
    -fx-background-color: rgba(68,58,25,0.3);
    -fx-cursor: hand;
}
.armyName-textField{
    -fx-background-color: #443A19, #CCC1A5;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
}
.unit-textField{
    -fx-background-color: #443A19, #A0977E;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
    -fx-font-family: "Copperplate Gothic Light" ;

}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #A0977E ;
    -fx-text-fill: #443A19 ;
    -fx-font-family: "Copperplate Gothic Light" ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: rgba(68,58,25,0.3) ;
}


.unitList .list-cell {
    -fx-background-color: rgba(68,58,25,0) ;
    -fx-text-fill: #443A19 ;
    -fx-font-family: "Copperplate Gothic Light" ;
}
.unitList .list-cell:selected {
    -fx-background-color: rgba(68,58,25,0.25) ;
    -fx-text-fill: #443A19 ;
    -fx-font-family: "Copperplate Gothic Light" ;
}